<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Journey | Elderly</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='parking.css') }}">
</head>

<body>
    <header>
        <div class= "bar">
            <ul id= "topnav">
                <li><a href= "home.html"> Home </a></li>

                <li><a href= "#"> Personas </a>
                    <ul class= "submenu">
                        <li><a href= "pcu.html">Personal Car User</a></li>
                        <li><a href= "motor.html">Motorcyclist</a></li>
                        <li><a href= "elder.html">Elderly</a></li>
                        <li><a href= "special.html">Special Needs</a></li>
                    </ul>
                </li>

                <li><a href= "#"> My Journey </a></li>
            </ul>

            <input type= "text" placeholder= "Search...">
        </div>
    </header>
</body>
</html>
